---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import Hero from '../components/SectionHero/SectionHero.astro';
import CategoryEntrenamientoSection from '../components/CategoryEntrenamientosSection/CategoryEntrenamientosSection.astro'
import EventosSection from '../components/EventosSection/EventosSection.astro'
import SpotifySection from '../components/SpotifySection/SpotifySection.astro'
import YoutubeSection from '../components/YoutubeSection/YoutubeSection.astro'
import Footer from '../components/Footer/Footer.astro'
import GradientCircles from '../components/GradientCircles/GradientCircles.astro';
---
<Layout title="Welcome to Astro.">	
	<Navbar />
	<main>
		<Hero />
		<div class="section-container">
			<GradientCircles class="section-circles section-circles-1" variant="alt1" />
			<CategoryEntrenamientoSection />
		</div>
		<div class="section-container">
			<GradientCircles class="section-circles section-circles-2" variant="alt2" />
			<EventosSection />
		</div>
		<div class="section-container">
			<GradientCircles class="section-circles section-circles-3" variant="default" />
			<SpotifySection />
		</div>
		<div class="section-container">
			<GradientCircles class="section-circles section-circles-4" variant="alt1" />
			<YoutubeSection />
		</div>
	</main>
	<Footer />
</Layout>

<style>
	main {
		/* padding: 1rem; */
		position: relative;
	}
	
	.section-container {
		position: relative;
		overflow: hidden;
		margin-bottom: 2rem;
	}
	
	.section-circles-1 :global(.circle-1) {
		top: 20%;
		right: 5%;
	}
	
	.section-circles-2 :global(.circle-2) {
		top: 10%;
		left: 0;
	}
	
	.section-circles-3 :global(.circle-3) {
		bottom: 15%;
		right: 5%;
	}
	
	.section-circles-4 :global(.circle-4) {
		top: 5%;
		left: 10%;
	}
</style>

